@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Space Travel is the best! Join Us!!
    </p>
    <div>
        <a class="btn btn-primary" href="/Identity/Account/Register">Register</a>
        <a class="btn btn-primary" href="/Identity/Account/Login">Login</a>
    </div>
    @* <table class="table">
    <thead>
    <tr>
    <th>Id</th>
    <th>UserName</th>
    <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
    <tr>
    <td>@user.Id</td>
    <td>@user.UserName</td>
    <td>@user.Email</td>
    </tr>
    }
    </tbody>
    </table> *@

</div>
